body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(185, 41%, 84%);
  flex-direction: column;
  height: 100vh;
}

.Logo {
  margin-bottom: 100px;
}

.card {
  background-color: white;
  font-family: monospace;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Rcard {
  background-color: hsl(183, 100%, 15%);
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  height: 300px;
}

.Lcard {
  margin-right: 20px;
}

.unselected {
  background-color: hsl(183, 100%, 15%);
  color: hsl(172, 67%, 45%);
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 75px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

.unselected:hover {
  transition: 0.5s;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}

.custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(184, 14%, 56%);
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 55px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

.title {
  color: hsl(186, 14%, 43%);
}

.dollars {
  color: hsl(172, 67%, 45%);
}

.paying {
  color: white;
}

.person {
  color: hsl(186, 14%, 43%);
}

.bill {
  color: hsl(183, 100%, 15%);
  border: none;
  background-color: hsl(189, 41%, 97%);
  height: 50px;
  width: 250px;
  margin-right: 0px;
  font-size: 40px;
  text-align: right;
}
.PeopleAmount {
  color: hsl(183, 100%, 15%);
  border: none;
  background-color: hsl(189, 41%, 97%);
  height: 50px;
  width: 250px;
  margin-left: 20px;
  font-size: 40px;
  text-align: right;
}

.paying1 {
  color: white;
}

.cost {
  background-color: hsl(189, 41%, 97%);
  align-content: center;
  justify-content: center;
  display: flex;
  width: 300px;
  border-radius: 5px;
}
.cost img {
  width: 15px;
  height: 25px;
  align-self: center;
}

.paying {
  background-color: hsl(189, 41%, 97%);
  align-content: center;
  justify-content: center;
  display: flex;
  width: 300px;
  border-radius: 5px;
}
.paying img {
  width: 20px;
  height: 25px;
  align-self: center;
}

.reset {
  border: none;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  width: 250px;
  height: 30px;
  border-radius: 5px;
  font-weight: 1000;
  margin-left: 25px;
  margin-top: 75px;
}

.TipAmount {
  align-content: center;
  justify-content: center;
  display: flex;
  gap: 200px;
}

.Amount {
  align-content: center;
  justify-content: center;
  display: flex;
  gap: 200px;
}

.TipSelect {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}
